nav {
  display: block;
  position: relative;
  border-bottom: solid darkgray;
  padding-bottom: 30px;
  background-color: #3a1772ff;
  height: 100px;
  padding-top: 15px;
}

nav a {
  font-weight: bold;
  font-size: larger;
  padding: 5px 15px;
  margin: 15px;
  text-align: center;
  outline: solid;
}

button {
  background-color: #3a1772ff;
  color: #fffbffff;
  font-size: 20px;
  height: 50px;
  width: 100px;
}

.border {
 border: solid grey;
 margin: 0 50px 0px 50px;
 padding-bottom: 15px;
 padding-top: 15px;
}

label {
  font-size: 40px;
  color: black;
}
#moon{
  /* margin-left: 20em; */
  margin-top: 5em;
  display: flex;
  justify-content: center;
}